<%- include ./partials/header.ejs %>
<%- include ./partials/main_nav.ejs %>
    <h1>Welcome to our <%= title %> theatre database website!</h1>
    <p>Please register for an account to the database!</p>
<%- include ./partials/footer.ejs %>